HeaderName header.html
ReadmeName footer.html
IndexIgnore header.html footer.html
IndexOrderDefault Descending Date
AddDescription "Software bundle for virtual Kaypro CP/NET 3" cpnet3kp.tgz
AddDescription "Software bundle for virtual Kaypro CP/NET 1.2" cpnet12kp.tgz
AddDescription "Software bundle for Z80-SIO Kaypro CP/NET 1.2" cpnet12.tgz
AddDescription "Kaypro Schematic by Micro Cornucopia" KayproSchematic.pdf
AddDescription "Kaypro Theory of Operation by Micro Cornucopia" KayproOperation.pdf
AddDescription "Kaypro Addendum to User's Guide" KayproAddendum.pdf
AddDescription "The Virtual Kaypro Computer" VirtualKaypro.jar
AddDescription "Virtual Kaypro Source Code" vkaypro.tgz
AddDescription "Virtual Z80 Source Code" z80cpu.tgz
AddDescription "Virtual Diablo 630 Printer Source Code" diablo630.tgz
AddDescription "Virtual Kaypro Diskettes (see index.txt)" disks
AddDescription "Example Virtual Kaypro Config Files" configs
AddDescription "Emergency Debug Monitor" monitor.bin
AddDescription "Emergency Memory Test ROM" memtest.bin
AddDescription "Emergency Debug Monitor Documentation" monitor.pdf
AddDescription "Diagnosing Problems with the Debug Monitor" diags.pdf
AddDescription "Using the Virtual Kaypro Keyboard" vkbd.pdf
AddDescription "Virtual Kaypro Keyboard" VirtualKeyboard.jar
AddDescription "Debug Monitor for Early Kaypro-II (2716)" mon2k.bin
AddDescription "Star Trek Game for X/84 and 10" strtrk.com
AddDescription "Original 2X Star Trek Game" startrek.com
AddDescription "Kaypro 10 81-302c Reload disks" k10hald.zip
AddDescription "Kaypro 10 WD1002-HDO documentation" WD1002-05_Winchester_Controller_19xx_Western_Digital.pdf
