HeaderName header.html
ReadmeName footer.html
IndexIgnore header.html footer.html
IndexOrderDefault Descending Date
AddDescription "Kaypro Schematic by Micro Cornucopia" KayproSchematic.pdf
AddDescription "Kaypro Theory of Operation by Micro Cornucopia" KayproOperation.pdf
AddDescription "Kaypro Addendum to User's Guide" KayproAddendum.pdf
AddDescription "The Virtual Kaypro" VirtualKaypro.jar
AddDescription "Virtual Kaypro Source Code" vkaypro.tgz
